@import '../node_modules/normalize.css/normalize.css';
html {
  font-size: 10px;
}

body {
  font-size: 1.7rem;
  font-family: "Alegreya SC", serif;
  color: white;
  background-color: #1a1a1a;
}

.main-background {
  background-color: black;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.9) 100%), url("../../images/main-pic5.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

h1 {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 72px;
  text-align: center;
}

.logo__svg {
  display: inline-block;
  background: url("../../images/finalLogo.svg");
  width: 400px;
  height: 64px;
  background-repeat: no-repeat;
}

.button {
  background: red;
  font-family: "Red Hat Text";
  line-height: 21px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  color: white;
  border-width: 0ch;
}

.login__button {
  padding: 12px 35px;
}

@font-face {
  font-family: "TT Milks Casual Outline";
  src: url(../../fonts/tt-milks-casual-outline.ttf);
  font-weight: normal;
}
.social__inst {
  background: url("../../images/icons/icon-in.svg");
  width: 20px;
  height: 20px;
}

.social__facebook {
  background: url("../../images/icons/icon-fb.svg");
  width: 11px;
  height: 20px;
}

.social__viber {
  background: url("../../images/icons/icon-vb.svg");
  width: 22px;
  height: 22px;
}

.social__link {
  cursor: pointer;
  display: inline-block;
  padding-right: 15px;
  background-repeat: no-repeat;
}
.social__link:hover {
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}

.info__ico {
  cursor: pointer;
  display: inline-block;
}

.ico-time {
  background: url("../../images/icons/ic_watch_later.svg");
  width: 21px;
  height: 20px;
}

.ico-location {
  background: url("../../images/icons/ic_near_me.svg");
  width: 18px;
  height: 18px;
}

.ico-phone {
  background: url("../../images/icons/ic_call.svg");
  width: 18px;
  height: 18px;
}

.promo-block {
  padding: 92px 0px;
}

.promo-icons__ico {
  cursor: pointer;
  display: inline-block;
}

.promo-icons__block {
  text-align: center;
  padding: 25px 140px;
}

.shaurma {
  background: url("../../images/icons/shaurma.svg");
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
}

.burger {
  background: url("../../images/icons/burger.svg");
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
}

.pilaf {
  background: url("../../images/icons/pilaf.svg");
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
}

.kebab {
  background: url("../../images/icons/kebab.svg");
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
}

.pancake {
  background: url("../../images/icons/pancake.svg");
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  background-color: #252525;
  opacity: 75%;
}

.layout-x-column {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  padding-left: 0;
  line-height: 21px;
}

.navigation__link {
  list-style: none;
  padding-right: 42px;
  cursor: pointer;
}
.navigation__link:hover {
  color: #ac4042;
}

.navigation__link:last-child {
  padding: 0;
}

.promo__text {
  padding: 45px 0 50px;
}

.info__block {
  text-align: center;
  padding: 0 100px;
}

.promo__content {
  height: 500px;
}

.slider__container {
  width: 1200px;
  padding-bottom: 80px;
  margin: auto;
  overflow: hidden;
}

.slider__track {
  display: flex;
  transition: 1s ease-in-out;
}

.slider__buttons {
  height: 0;
}

.btn-next,
.btn-prev {
  cursor: pointer;
  position: relative;
  bottom: 325px;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: transparent;
  border-color: transparent;
}
.btn-next:hover,
.btn-prev:hover {
  background-color: #ac4042;
}

.btn-next {
  right: -1107px;
  border-radius: 3px 0 0 3px;
}

.slider__dots {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #ac4042;
}

.menu__block {
  background-color: #252525;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
}

.menu__content {
  padding: 20px;
}

.menu__image {
  border-radius: 10px 10px 0px 0px;
}

.menu__name {
  font-family: Alegreya;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0px 0px 20px;
}

.menu__description {
  margin: 0 0 23px;
  color: #b3b3b3;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.menu__button {
  position: absolute;
  left: 19%;
  right: 18%;
  top: 31.25%;
  bottom: 31.25%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
