.navigation {
  display: flex;
  padding-left: 0;
  line-height: 21px;
}
.navigation__link {
  list-style: none;
  padding-right: 42px;
  cursor: pointer;
  &:hover {
    color: #682f2f;
  }
}
.navigation__link:last-child {
  padding: 0;
}
