.slider__container {
  width: 1200px;
  overflow: hidden;
}

.slider__track {
  display: flex;
  transition: 1s ease-in-out;
}

.slider__buttons {
  text-align: center;
}

.slider__item {
}
.slider__image {
}
