html {
  font-size: 10px;
}

body {
  font-size: 1.7rem;
  font-family: 'Alegreya SC', serif;
  color: white;
}

.main-background {
  background-color: black;
  // background: url('../../images/main-pic5.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
h1 {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 72px;
  text-align: center;
}

h2 {
}

h3 {
}
